body {
	width: 100%;
	margin: auto;
}
header {
	height: 50px;
	background: cadetblue;
	max-font-size: small;
}

li {
	list-style: none;
	float: right;
	margin-left: 15px
}

.nav {
	float: right;
	height: 35px;
	color: blue;
	padding: 10px
}